:root>* {
  --md-primary-fg-color: #484995;
  --md-accent-fg-color: #fbb167;
  --md-default-bg-color: #FFFAFA;
}

.md-grid {
  max-width: 85%;
}

.md-main__inner {
  max-width: 85%;
}

.md-sidebar--primary {
  width: auto;
}


table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}


tr:nth-child(even) {
  background-color: #dddddd;
}


[data-md-color-scheme="slate"] {
  --md-primary-fg-color: #96325b;
  --md-accent-fg-color: #fbb167;
  --md-default-bg-color: #220537;
}