/* Estilos gerais */
.md-grid,
.md-main__inner {
  max-width: 85%;
}

/* Estilos para todos os temas */
:root>* {
  --md-primary-fg-color: #484995;
  --md-accent-fg-color: #484995;
  --md-default-bg-color: #FFFAFA;
}

/* Estilos para as células da tabela */
th {
  background-color: #484995;
  color: #FFFAFA; /* Define a cor das letras como branco */
  font-weight: bold; /* Deixa as letras em negrito */
}

td {
  background-color: #FFFAFA;
  color: #000000; /* Define a cor das letras como preto */
  font-weight: bold; /* Deixa as letras em negrito */
}



/* Estilos para o tema "slate" */
[data-md-color-scheme="slate"] {
  --md-primary-fg-color: #96325b;
  --md-accent-fg-color: #96325b;
  --md-default-bg-color: #220537;
}

[data-md-color-scheme="slate"] th {
  background-color: #96325b;
  color: #FFFAFA; /* Define a cor das letras como branco */
  font-weight: bold; /* Deixa as letras em negrito */
}

[data-md-color-scheme="slate"] td {
  background-color: #FFFAFA;
  color: #000000; /* Define a cor das letras como preto */
  font-weight: bold; /* Deixa as letras em negrito */
}